<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="localhost:8080/">Schoodle</a>
    </div>
    <div class="navbar-btn pull-right">
      <button class="btn btn-success" type="submit">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create Schoodle
      </button>
    </div>
  </div>
</nav>
