<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Schoodle</title>
  </head>
  <body>
    <nav id="nav-bar">
      <h1>Schoodle</h1>
      <button>Create a schoodle</button>
    </nav>
  </body>
</html>
