<form class="event_info">
  <h2>Schedule plans!</h2>
  <div class="form-group">
    <label for="description">Event Description:</label>
    <input type="text" class="event-desc form-control" name="event-desc" placeholder="Descibe your event.">
  </div>
  <div class="form-group">
    <label for="location">Event Location:</label>
    <input type="text" class="event-loc form-control" name="event-loc" placeholder="Where will the event take place.">
  </div>

  <div class="error-message" hidden></div>
  <button class="btn btn-success" type="submit">Submit</button>
</form>


<form class="event_date">
  <h2>Schedule plans!</h2>
  <div class="start_end_container">
    <div class="start_end1 form-inline">
      <div class="form-group">
        <label for="date">Start-time:</label>
        <input type="datetime-local" class="starttime form-control"
               name="starttime" value="2018-06-12T19:30"/>
      </div>
      <div class="form-group">
        <label for="date">End-time:</label>
        <input type="datetime-local" class="endtime form-control"
               name="endtime" value="2018-06-12T19:30"/>
      </div>
    </div>
  </div>
  <div class="error-message" hidden></div>
  <button class="add-date btn btn-success" type="button">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add
  </button>
  <button class="submit-date btn btn-success" type="submit">Submit</button>
</form>

<form class="event_creator">
  <h2>Schedule plans!</h2>
  <div class="form-group">
    <label for="name">First Name:</label>
    <input type="text" class="event-creator-name form-control" name="event-creator-name" placeholder="Creators name.">
  </div>
  <div class="form-group">
    <label for="name">Email:</label>
    <input class="event-creator-email form-control" type="text" name="event-creator-email" placeholder="Creators email.">
  </div>
  <div class="error-message" hidden></div>
  <button class="btn btn-success" type="submit">Submit</button>
</form>
