<form class="event_info">
  <h2>Schedule plans!</h2>
  <input class="event-desc" type="text" name="event-desc" placeholder="Descibe your event.">
  <input class="event-loc" type="text" name="event-loc" placeholder="Where will the event take place.">
  <div class="error-message" hidden></div>
  <button class="btn btn-success" type="submit">Submit</button>
</form>

<form class="event_date">
  <h2>Schedule plans!</h2>
  <input class="event-date1" type="text" name="event-date1" placeholder="First date.">
  <input class="event-date2" type="text" name="event-date2" placeholder="Second date.">
  <div class="error-message" hidden></div>
  <button class="btn btn-success" type="submit">Submit</button>
</form>

<form class="event_creator">
  <h2>Schedule plans!</h2>
  <input class="event-creator-name" type="text" name="event-creator-name" placeholder="Creators name.">
  <input class="event-creator-email" type="text" name="event-creator-email" placeholder="Creators email.">
  <div class="error-message" hidden></div>
  <button class="btn btn-success" type="submit">Submit</button>
</form>
