<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Schoodle Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <!-- Bootstrap JS requirements -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!-- Bootstrap requirements -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- jQuery Requirements -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <header>
    <% include ./partials/_nav %>
  </header>

  <body>

    <!-- Page-specific (main) content here -->
    <main class="event_container">

      <section class="link">
        <p>This is the shareable link</p>
      </section>

      <section class="table">

        <table>
          <thead>
              <tr>
                  <th colspan="2">Schedule</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                <td></td>
                <td class="date">
                  <table>
                    <tr>
                      <td>October 18, 2018</td>
                      <td>October 19, 2018</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>2 participants</td>
                <td>1 Yes, 1 No</td>
              </tr>
              <tr>
                <td class="name">John Smith</td>
                <td>Yes</td>
              </tr>
              <tr>
                <td class="name">Jon Jones</td>
                <td>No</td>
              </tr>
          </tbody>

        </table>

      </section>

    </main>

  </body>

  <footer>
    <% include ./partials/_footer %>
  </footer>

</html>

