<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Schoodle Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <!-- Bootstrap JS requirements -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!-- Bootstrap requirements -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- jQuery Requirements -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <header>
    <% include ./partials/_nav %>
  </header>

  <body>

    <!-- Page-specific (main) content here -->
    <main class="event_container">
      <div class="shadow p-3 mb-5">

      <section class="link">
        <p>Why haven't we made this a shareable link yet?!</p>
      </section>

      <section class="poll-table">

        <table class="table">
          <tbody>
            <tr>
              <td class="col1">Participants</td>
              <td class="col2"> October 21, 2018 </td>
              <td class="col3"> October 22, 2018 </td>
            </tr>
            <tr>
              <div class="add_participant_poll">
                <td class="participant col1">
                  <form class="add_participant">
                    <div class="form-group">
                      <input type="text" class="participant-name form-control" name="participant-name" placeholder="Name">
                    </div>
                  </form>
                </td>
                <td class="poll col2">
                  <form class="add_poll">
                    <div class="form-group">
                      <input class="yes-no form-check-input" type="checkbox" value="">
                    </div>
                  </form>
                </td>
                <td class="poll col3">
                  <form class="add_poll">
                    <div class="form-group">
                      <input class="yes-no form-check-input" type="checkbox" value="">
                    </div>
                  </form>
                </td>
              </div>
            </tr>
            <tr>
              <td class="name col1">John Smith</td>
              <td>Yes = 1</td>
              <td>No = 0</td>
            </tr>
            <tr>
              <td class="name col1">Jon Jones</td>
              <td>No = 0</td>
              <td>Yes = 1</td>
            </tr>
          </tbody>
        </table>

        <form class="submit_finish">
          <div class="error-message" hidden></div>
          <button class="submit btn btn-success" type="submit">Submit</button>
          <button class="finish btn btn-success" type="submit">Finish</button>
        </form>

      </section>
    </div>

    </main>

  </body>

    <% include ./partials/_footer %>

</html>

