header {
  nav {
    margin-bottom: 1em;
  }
  button {
    float: right;
  }
}

body {
  background-color: orange;
  padding-top: 2em;
}

.event_info{
  display:none;
}
.event_date{
  display:none;
}
.event_creator{
  display:none;
}
