header {
  nav {
    margin-bottom: 1em;
  }
  button {
    float: right;
  }
}

body {
  background-color: orange;
  padding-top: 5em;
  font-family: "Roboto condensed";
  padding-right: 2em;
  padding-left: 2em;

  main {
    background-color: #C0C0C0;
    padding: 2em;
    border-radius: 2em;

    .link {
      background-color: #eee;
      padding: 1em;
      margin-bottom: 1em;
      border-radius: 1em;
      text-align: center;
      font-size: 2em;
      p {
        margin: 0 auto;
      }
    }

    .start_end_container {
      padding-bottom: 1em;
    }

    .start_end {
      display: block;
    }

    .starttime {
      width: 50%;
    }

    .endtime {
      width: 50%;
    }

  }
}

.event_info{
  display:none;
}
.event_date{
  display:none;
}
.event_creator{
  display:none;
}
